@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --texto-primario: 'Krona One', sans-serif;
    --texto-secundario: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 1% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__links {
    font-family: var(--texto-secundario);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__links:hover {
    background-color: var(--cor-hover);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 84px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--texto-primario);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--texto-secundario);
    
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__titulo2 {
    font-family: var(--texto-primario);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__links__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-decoration: none;
    font-family: var(--texto-secundario);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-align: center;
    width: 50%;
    padding: 16px 0;
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria);
    
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    text-align: center;
    padding: 24px;
    font-size: 1.5rem;
    font-family: var(--texto-secundario);
    font-weight: 400;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
}

@media (max-width: 1200px){
    .cabecalho {
        padding: 5%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

}
